
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1a0a01;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo img {
  width: 100px; 
  height: auto; 
  display: block; 
}

nav a {
  color: #cd5f2c;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ce9f69;
}


.hero-info .meta-info {
  margin-bottom: 20px;
  font-size: 1em;
  color: #ccc;  
}

.hero-info .meta-info span {
  margin: 0 5px; 
}

.hero-info .meta-info .rating {
  border: 1px solid;
  padding: 2px 6px;
  border-radius: 3px;
  display: inline-block; /
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px; 
}


.secondary-button {
  background-color: rgba(255, 255, 255, 0.15); 
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  display: flex; 
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s;
}

.secondary-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.secondary-button svg {
  width: 18px;
  height: 18px;
  margin-right: 8px; 
}

.inicio {
  position: relative;
  text-align: left;
  margin-top: 10px;
}

.inicio img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.7;
}

.hero-info {
  position: absolute;
  bottom: -100px;
  left: 40px;
  right: 40px;
  max-width: 500px;
}

.hero-info h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.hero-info button {
  background-color: #cd5f2c;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.hero-info button:hover {
  background-color: #ce9f69;
}

.capitulos {
  padding: 80px;
  margin-top: 100px;
}

.capitulos h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background-color: #1a0a01;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 800px 800px;
}

.card h3 {
  margin: 10px;
  color: #ce9f69;
}

.card p {
  margin: 10px;
  font-size: 0.9em;
  color: #ccc;
}

.footer {
  margin-top: 120px;
}

footer {
  text-align: center;
  padding: 80px;
  background-color: #1a0a01;
  font-size: 0.9em;
  color: #aaa;
}
