*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fnd {
  width: 750px;
  height: 500px;
  margin: 90px;
}

#crz {
  width: 80px;
  height: 80px;
}

#medusa {
  width: 80px;
  height: 80px;
}

#cuadra {
  width: 80px;
  height: 80px;
}