
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo svg {
  width: 30px;
  height: 30px;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ce9f69;
}



.hero {
  position: relative;
  text-align: left;
  margin-top: 10px;
}

.hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.7;
}

.hero-info {
  position: absolute;
  bottom: -100px;
  left: 40px;
  right: 40px;
  max-width: 500px;
}

.hero-info h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.hero-info button {
  background-color: #ce9f69;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.hero-info button:hover {
  background-color: #ce9f69;
}

.capitulos {
  padding: 80px;
  margin-top: 100px;
}

.capitulos h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
  color: #ce9f69;
}

.card p {
  margin: 10px;
  font-size: 0.9em;
  color: #ccc;
}

.footer {
  margin-top: 120px;
}

footer {
  text-align: center;
  padding: 80px;
  background-color: #111;
  font-size: 0.9em;
  color: #aaa;
}
